
passlib[bcrypt]==1.7.4
python-dotenv==1.1.0
sqlalchemy==2.0.41
psycopg2-binary==2.9.10
alembic==1.17.0
pydantic[email]==2.11.7
python-jose[cryptography]==3.5.0
firebase-admin==6.9.0
google-cloud-aiplatform==1.98.0
